*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
   --primary-color: rgb(33, 33, 33) ;
   --font-color : rgb(222, 219, 219);
   --grid-color : rgb(45, 44, 44);
   --bg-fill-color : rgb(224, 220, 220) ;
   --food-color : rgb(238, 238, 0) ;
   --green-btn : rgb(113, 197, 113) ;
   --red-btn : red;

   --space-xs : 4px ;
   --space-sm : 8px ;
   --space-md : 16px ;
   --space-lg : 24px ; 
   --space-xl : 32px ;


}

html{
  background: var(--primary-color);
  color: var(--font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body , main{
    height: 100vh;
    width: 100vw;
    
}
.startGame , .overGame{
    height: 100%;
    width: 100% ; 
    position: fixed;
    top: 0;
    background: #161616a8;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);

    
}
.overGame{
   display: none;
}

.btn{
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--space-xs);
    font-size: 1rem;
    transition: all 0.3s ease;
}
.btn:hover{
   scale: 1.1;
}

.startGame .btn{
    background: var(--green-btn);
}


main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#s1{
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;

}
#s1 div{
 padding: 16px;
 border: 1px solid blue;
 border-radius: 0.5rem;
    
}

#s2{
    flex-grow: 1;
    border: 1px solid blue;
    display: grid;
    grid-template-rows: repeat(auto-fill  , minmax(80px, 1fr)) ;
    grid-template-columns: repeat(auto-fill , minmax(80px, 1fr)) ; 
}


.cell{
    height: 80px;
    width: 80px;
    border: 1px solid rgb(57, 55, 55);
    border-radius: 50%;
}

.fill{
    background: var(--bg-fill-color);
}

.food{
    background-color: var(--food-color);
}


.overGame h1{
    color: var(--red-btn);
    
}





