*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
   --primary-color: rgb(33, 33, 33) ;
   --font-color : rgb(222, 219, 219);
   --grid-color : rgb(45, 44, 44);

}

html{
  background: var(--primary-color);
  color: var(--font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body , main{
    height: 100vh;
    width: 100vw;
    
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#s1{
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;

}
#s1 div{
 padding: 16px;
 border: 1px solid blue;
 border-radius: 0.5rem;
    
}

#s2{
    flex-grow: 1;
    border: 1px solid blue;
    display: grid;
    grid-template-rows: repeat(auto-fill  , minmax(80px, 1fr)) ;
    grid-template-columns: repeat(auto-fill , minmax(80px, 1fr)) ; 
}


.cell{
    height: 80px;
    width: 80px;
    border: 1px solid rgb(118, 116, 116);
}







